
//Desktop screen
@media screen and (min-width: 1200px) {
  .ilyasContent {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "name name  image image image"
      "descr descr image image image"
      "descr descr image image image"
      "descr descr image image image";
  }
  .image {
    padding: 5%;
    height: 90%;
    width: auto;
    grid-area: image;
    justify-self: end;
  }
  .name {
    grid-area: name;
    justify-self: center;
    align-self: center;
    font-size: 5vh;
  }

  .description {
    font-size: 3vh;
    justify-self: center;
    align-self: center;
    grid-area: descr;
    padding-left: 10%;
  }
}

//Phone screen
@media screen and (max-width: 1200px) {
  .ilyasContent {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    display: grid;
    padding-top:5%;
    // background: orange;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr ;
    grid-template-areas:
      "image image image"
      "image image image"
      "name name name"
      "descr descr descr"
      "descr descr descr";
  }
  .image {
    padding: 5%;
    height: 90%;
    width: auto;
    grid-area: image;
    justify-self: center;
  }
  .name {
    grid-area: name;
    justify-self: center;
    align-self: center;
    font-size: 4vh;
  }

  .description {
    font-size: 2.1vh;
    justify-self: center;
    align-self: center;
    grid-area: descr;
    padding-left: 10%;
  }
}




