<div class="skillContent">
  <div class="iconHolder iconUnity" (click)="onButtonCLick()">
    <!-- <img
      src="../../assets/pics/unity.png"
      alt="Skills"
      style="width: 10vh; height: 10vh;"
    /> -->
    <app-image-progress-bar
      src="../../assets/pics/unity.png"
      [progress]="100"
    ></app-image-progress-bar>
  </div>
  <div class="textSkills titleUnity" style="">Unity3D</div>
  <div class="mainTextSkills textUnity">
    Experienced for 3 years by making multiple projects in Unity3D. I am
    familiar with Custom Editor, Shaders, AI behaviors, Networking, Game Engine
    architecture, Optimizing games and using SourceTree with Unity.
  </div>
  <div class="iconHolder iconC" (click)="onButtonCLick()">
    <!-- <img
      src="../../assets/pics/c++.png"
      alt="Skills"
      style="width: 10vh; height: 10vh;"
    /> -->
    <app-image-progress-bar
      src="../../assets/pics/c++.png"
      [progress]="100"
    ></app-image-progress-bar>
  </div>
  <div class="textSkills titleC" style="">C++ Engine</div>
  <div class="mainTextSkills textC">
    Experienced for half of the year by making a custom 3D engine. I am familiar
    with Game Engine architecture, OpenGL, custom 2D physics engine, c++ memory
    allocation, and .obj file parsing.
  </div>
  <div class="iconHolder iconAngular" (click)="onButtonCLick()">
    <!-- <img
      src="../../assets/pics/angular.png"
      alt="Skills"
      style="width: 10vh; height: 10vh;"
    /> -->
    <app-image-progress-bar
      src="../../assets/pics/angular.png"
      [progress]="100"
    ></app-image-progress-bar>
  </div>
  <div class="textSkills titleAngular" style="">Angular</div>
  <div class="mainTextSkills textAngular">
    <br />
    Experienced for half of the year by making an interactive Website. I am
    familiar with the Component system, URL sanitizing, SCSS, Animations.
  </div>
  <div class="iconHolder iconNode" (click)="onButtonCLick()">
    <!-- <img
      src="../../assets/pics/nodejs.png"
      alt="Skills"
      style="width: 10vh; height: 10vh;"
    /> -->
    <app-image-progress-bar
      src="../../assets/pics/nodejs.png"
      [progress]="100"
    ></app-image-progress-bar>
  </div>
  <div class="textSkills titleNode" style="">NodeJs</div>
  <div class="mainTextSkills textNode">
    Experienced for half of the year by making an interactive Website. I am
    familiar with REST API, JSON, Token system, database managing, Encryption.
  </div>
</div>
