<!-- app.component.html -->
<mat-toolbar class="header"
  ><button class="navButton" mat-button (click)="fullpage_api.moveTo('1', 0)">
    About Me
  </button>
  <button class="navButton" mat-button (click)="fullpage_api.moveTo('2', 0)">
    Skills
  </button>
  <button class="navButton hideOnPhone" mat-button (click)="fullpage_api.moveTo('3', 0)">
    Web
  </button>
  <button class="navButton " mat-button (click)="fullpage_api.moveTo('4', 0)">
    Dont Fall
  </button>
  <button class="navButton hideOnPhone" mat-button (click)="fullpage_api.moveTo('5', 0)">
    Shinjou
  </button>
  <button class="navButton hideOnPhone" mat-button (click)="fullpage_api.moveTo('6', 0)">
    Insectomancer
  </button>
  <button class="navButton hideOnPhone" mat-button (click)="fullpage_api.moveTo('7', 0)">
    Basin
  </button>
  <button class="navButton" mat-button (click)="fullpage_api.moveTo('8', 0)">
    Contacts
  </button>
</mat-toolbar>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">
    <app-card topic="ABOUT ME" isCustom="true;">
      <app-ilyas-content style="width:100%;"></app-ilyas-content>
    </app-card>
  </div>
  <div class="section">
    <app-card topic="SKILLS" isCustom="true;">
      <app-skill-content style="width: 100%; height: 100%;"></app-skill-content>
    </app-card>
  </div>
  <div class="section">
    <app-card title="Alpha " topic="Project 5" isCustom="true">
      <app-game-content
        name="Web project"
        descr="Web project is frontend and backend in which users can enter their personal page and modify own todo list. The main task was to practice and learn angular, node js and express. This project was the solo project that I have done in 2 months. The backend uses JWT to encrypt communication between backend and website, I store a list of users and their events in JSON file."
        img1_src="../assets/pics/w1.png"
        img2_src="../assets/pics/w2.png"
        img3_src="../assets/pics/w3.png"
        video_src="https://www.youtube.com/embed/Chh1h0z2dLg"
        style="width:100%; height: 100%;"
      ></app-game-content>
    </app-card>
  </div>
  <div class="section">
    <app-card title="Alpha " topic="Project 1" isCustom="true">
      <app-game-content
        name="Dont Fall"
        descr="Dont fall is a 3D fight platformer in which you compete with another player in overcoming a variety of obstacles and finishing track first. The project lasted for 3 weeks and done by a team of 6(2 engineers). The project was done in Unity with Post-processing. I was in charge of the majority of the programming and unity-related setup."
        img1_src="../assets/pics/df1.png"
        img2_src="../assets/pics/df3.png"
        img3_src="../assets/pics/df2.png"
        video_src="https://www.youtube.com/embed/ot0j7pv7GjU"
        style="width:100%; height: 100%;"
      ></app-game-content>
    </app-card>
  </div>

  <div class="section">
    <app-card title="Alpha " topic="Project 2" isCustom="true">
      <app-game-content
        name="Shinjou"
        descr="Shinjou is a 2D platformer in which you fight through enemies in order to get to the end. Main mechanics is slowing time and reflecting all small projectiles. The project lasted for 3 weeks and done by a team of 6 (3 engineers). It was done in Unity engine. I was in charge of enemies’ AI behaviors, enemy spawning, player attack, and projectiles. "
        img1_src="../assets/pics/s11.png"
        img2_src="../assets/pics/s12.png"
        img3_src="../assets/pics/s13.png"
        video_src="https://www.youtube.com/embed/4SqHU8RLHz4"
        style="width:100%; height: 100%;"
      ></app-game-content>
    </app-card>
  </div>
  <div class="section">
    <app-card title="Alpha " topic="Project 3" isCustom="true">
      <app-game-content
        name="Insectomancer"
        descr="Insectomancer is a 3D topdown shooter in which you explore levels and fight enemies. Main mechanics are fighting with different companions. The project lasted for 4 weeks and done by a team of 8 (3 engineers). It was done in Unity engine. I was in charge of enemies’ Ai behaviors, enemy navigation, enemy wave system, score system."
        img1_src="../assets/pics/i1.png"
        img2_src="../assets/pics/i2.png"
        img3_src="../assets/pics/i3.png"
        video_src="https://www.youtube.com/embed/fIh4iLDJr-c"
        style="width:100%; height: 100%;"
      ></app-game-content>
    </app-card>
  </div>
  <div class="section">
    <app-card title="Alpha " topic="Project 4" isCustom="true">
      <app-game-content
        name="Basin"
        descr="Basin is 3D topdown shooter in which you fight with another player in covering tiles in your color. Main mechanics is shooting and painting board around you, you win if you cover the majority of the board in your color. The project lasted for 4 weeks and done by team of 8 (3 engineers). It was done in our own 3D engine, that we based on C++ and OpenGL. I was in charge of the Physics engine and half of the main gameplay."
        img1_src="../assets/pics/b1.png"
        img2_src="../assets/pics/b3.png"
        img3_src="../assets/pics/b2.png"
        video_src="https://www.youtube.com/embed/mbcdB9wZh0Q"
        style="width:100%; height: 100%;"
      ></app-game-content>
    </app-card>
  </div>

  <div class="section">
    <app-card isCustom="true" title="" topic="Contact Details">
      <app-info-content style="width:100%; height: 100%;"></app-info-content>
    </app-card>
  </div>
</div>
<!-- (click)="fullpage_api.moveTo('firstPage', 2)" -->
