<link
  href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
  rel="stylesheet"
/>
<div class="cardContainer">
  <!-- <div class="backgroundBox"> </div> -->

  <div class="titleSide">
    <div class="topicText">
      {{ topic }}
    </div>
    <!-- <mat-divider [vertical]="true"></mat-divider> -->
  </div>
  <div class="lineHolder"></div>
  <div *ngIf="isCustom == false">
    <div class="leftSideCard">
      <div class="titleText">
        <b>{{ title }}</b>
      </div>
      <div #target class="descrText">
        <p>{{ mainText }}</p>

      </div>

    </div>
  </div>
  <ng-content style="margin-left: 5rem; width:100%;"></ng-content>
  <!-- <div class="card__title">
    <div class="text">{{title}}</div>
  </div>
  <div class="card__content">
    <ng-content></ng-content>
  </div> -->
</div>
