<div class="skillContent">
  <div class="iconHolder iconUnity" (click)="onButtonCLick()">
    <img
      src="../../assets/pics/unity.png"
      alt="Skills"
      style="width: 10vh; height: 10vh;"
    />
  </div>
  <div class="textSkills titleUnity" style="">Unity3D</div>
  <div class="mainTextSkills textUnity">
    For 3 years I have worked on many interesting and unique games with a team
    of an average of 6 members. From each project, I have gained knowledge of
    new tools, techniques, understanding of the C# and Unity engine itself.
  </div>
  <div class="iconHolder iconC" (click)="onButtonCLick()">
    <img
      src="../../assets/pics/c++.png"
      alt="Skills"
      style="width: 10vh; height: 10vh;"
    />
  </div>
  <div class="textSkills titleC" style="">C++ Engine</div>
  <div class="mainTextSkills textC">
    I have participated in an amazing project of creating own 3D game engine. I
    have basic knowledge of OpenGL, 2D physics engine and engine architecture.
  </div>
  <div class="iconHolder iconAngular" (click)="onButtonCLick()">
    <img
      src="../../assets/pics/angular.png"
      alt="Skills"
      style="width: 10vh; height: 10vh;"
    />
  </div>
  <div class="textSkills titleAngular" style="">Angular</div>
  <div class="mainTextSkills textAngular">
    I have a good understanding of the angular component system and its way of
    coding. From previous projects I gained basic knowledge of css and scss,
    typescript and web design.
  </div>
  <div class="iconHolder iconNode" (click)="onButtonCLick()">
    <img
      src="../../assets/pics/nodejs.png"
      alt="Skills"
      style="width: 10vh; height: 10vh;"
    />
  </div>
  <div class="textSkills titleNode" style="">NodeJs</div>
  <div class="mainTextSkills textNode">
    I made a solo project to learn back-end and everything that surrounds it. I
    have a good understanding of creating responsive backend, database and
    implementing basic encryption.
  </div>
</div>
